.project_heading{:class => "#{build_status(@build)}"}
  %form.force_build{:method => 'post', :action => project_force_path(@project.name)}
    %input{:type => 'submit', :value => "force build#{build_queued?(@project) ? ' (build queued)' : ''}"}
  %h2.project
    = @project.name
    %em.project_ruby (#{@project.ruby})
    %strong.project_status= "#{build_status(@build)}"
  .ci
    - unless @build.artefacts.empty?
      %ul.artefacts
        - @build.artefacts.reject { |a| a == 'assets' }.each do |artefact|
          %li.artefact_entry
            %a.artefact{ :href => "/projects/#{@project.name}/builds/#{@build.number}/artefacts/#{artefact}" }
              = { 'coverage_analysis.html' => 'Coverage Report',
                  'build_log.txt'          => 'Original Build Log' }[artefact]
    %p.build_log
      != @build.build_log

